/* General styling */
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  height: auto;
  max-width: 1600px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.full-width {
  width: 100%;
}
.block-item {
  display: block;
  margin: auto;
}
.third-width {
  float: left;
  padding: 20px 50px;
  width: 33.3%;
}
@media screen and (max-device-width: 800px){
  .third-width {
    width: 100%;
  }
}
@media screen and (max-device-width: 800s px) and (orientation: landscape) {
  .third-width {
    width: 80%;
  }
}
header img,
.third-width
img {
  border: 3px solid #3F8DA7;
  border-radius: 50%;
}
.button {
  background-color: #3F8DA7;
  color: white;
  font-size: 18px;
  margin-bottom: 0;
  padding: 3% 20%;
  width: 100%;
}
.button .third-width{
  position: relative;
}
/* Navigation bar above header */
nav {
  background: #93DFE4;
  border-bottom: 3px solid #3F8DA7;
}
nav
img {
  float: left;
  padding: 10px 20px;
}
nav
ul {
  text-align: right;
}
nav
ul
li {
  display: inline-block;
  padding: 30px 20px 10px;
}
/* Header area */
.header-info {
  position: relative;
  top: 40px;
  margin: auto;
}
header {
  background: url('images/park.jpg') center no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 500px;
  position: relative;
  filter: saturate(85%);
}
h1,
label {
  text-align: center;
}
label {
  color: white;
  padding: 40px 0 10px;
}
.label {
  margin-right: 330px;
}
h1 {
  color: white;
  margin: 0;
  padding: 25px 0 15px;
}
.light-text {
    font-weight: 100;
}
input {
  padding: 10px 130px;
}
.name-dog-button {
  background-color: #93DFE4;
  font-size: 18px;
  margin: 10px auto;
  padding: 10px 130px;
}
/* Content area */
section .third-width {
  position: relative;
}
main
h2 {
  text-align: center;
}
main
img {
  display: block;
  margin: 0 auto;
}
main p {
  height: 15em;
  padding-top: 1em;
}
.hidden {
  visibility: hidden;
}
/* Footer area */
footer {
  background-color: #3F8DA7;
  clear: both;
  color: white;
  height: 200px;
  padding: 20px 0;
  text-align: center;
}
footer
p {
  padding-left: 45px;
}
footer ul
li {
  display: inline-block;
  padding: 10px 5px;;
}
