html {
  font-family: 'Roboto Slab', serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

nav {
  background: #9A969C;
  float: left;
  height: 2000px;
  width: 15%;
}

nav img {
  display: block;
  margin: auto;
  margin-top: 10%;
  height: 8%;
  width: auto;
}

nav ul {
  list-style-type: none;
  padding-top: 20%;
}

nav ul li {
  font-weight: bold;
  padding: 10% 0;
}

header {
  background: #3C3543;
  color: white;
  height: 10%;
  margin-left: auto;
}
header div {
  width: 100%;
}

header img {
  border: 10px solid #9A969B;
  border-radius: 50%;
  height: 80%;
  margin-left: 5%;
  width: auto;
}

header h1,
header label,
header input,
header button {
  margin-left: 60%;
}

main section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

h2 {
  font-size: 2em;
  padding-left: 20%;
}

main img {
  border-radius: 50%;
  margin-left: 5%;
  height: 250px;
  width: 250px;
}


footer {
  clear: both;
}
